.container {
    height: auto;
}

.main{
    height: 100%;
}

.side-wrap {
    -webkit-transform: translateZ(0);
    float: left;
    width: calc((100% - 1360px) * 0.5);
}

.sidenav {
    text-align: center;
    float: right;
    width:147px;
    margin-right: 15px;
    padding: 30px 0 23px 0;
    box-shadow:0px 2px 7px 1px rgba(60,60,60,0.2);
}

.sidenav li {
    width:100%;
    height:49px;
    text-align: center;
    line-height: 49px;
    font-size:20px;
    color:rgba(146,146,146,1);
}

.sidenav li:hover {
    cursor: pointer;
}

#orderBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    background: url(../images/order-btn.png) center no-repeat;
    background-size: 100% 100%;
}

.list {
    display: inline-block;
    width:937px;
    margin-right: 18px;
}

.articles {
    display: inline-block;
    width: 100%;
    margin-top: 44px;
}

.article-item {
    width: 100%;
    height:202px;
    box-shadow:0px 2px 9px 1px rgba(60,60,60,0.2);
    margin-bottom: 28px;
}

.article-item:hover {
    border: 10px solid #ffffff;
    margin: -10px 0 18px -10px;
    cursor: pointer;
}

.article-item img {
    display: inline-block;
    width:365px;
    height:202px;
}

.article-info {
    display: inline-block;
    width: 503px;
    height:138px;
    padding: 32px;
}

.article-info h1 {
    display: inline-block;
    font-size:28px;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin: 0 10px 0 0;
    padding-left: 45px;
    background-size: 25px 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.article-info h1:hover {
    cursor: pointer;
}

.article-info button {
    display: inline-block;
    float: right;
    padding: 5px 7px;
    background-size: 100% 100%;
    width: 45px;
    height: 45px;
}

.article-info span {
    display: inline-block;
    font-size:20px;
    font-weight:400;
    color:rgba(146,146,146,1);
    margin: 10px 45px 10px 0px;
    vertical-align: middle;
}

.article-info p {
    font-size:20px;
    font-weight:400;
    color:rgba(51,51,51,1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.page-change {
    width: 100%;
    margin: 25px 0 126px 0;
}

.page-change span {
    display: inline-block;
    width:59px;
    height:59px;
    text-align: center;
    line-height: 59px;
    box-shadow:0px 2px 9px 1px rgba(60,60,60,0.2);
    font-size:28px;
    color:rgba(146,146,146,1);
    margin-right: 26px;
}

.page-change span:hover {
    cursor: pointer;
}

.right-aside {
    -webkit-transform: translateZ(0);
    display: inline-block;
    width: 400px;
}

.return-top {
    display: inline-block;
    width: 77px!important;
    height:77px!important;
    box-shadow:0px 2px 7px 1px rgba(60,60,60,0.2);
}

.return-top:hover {
    cursor: pointer;
}

.calendar {
    width: 100%;
    box-shadow:0px 2px 7px 1px rgba(60,60,60,0.2);
    margin-top: 101px;
}

.year {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 35px 0;
}

.year button {
    display: inline-block;
    width: 12px;
    height: 22px;
    margin: auto;
}

#lastYear {
    margin-right: 82px;
    background: url(../images/turn-left.png) left center no-repeat;
}

#nextYear {
    margin-left: 82px;
    background: url(../images/turn-right.png) right center no-repeat;
}

.calendar h1 {
    font-size:20px;
    font-weight:bold;
    color:rgba(245,57,86,1);
    text-shadow:0px 2px 7px rgba(60,60,60,0.2);
    margin-left: 31px;
}

.year h1 {
    display: inline-block;
    font-size:28px;
    margin: 0;
}

.month {
    width: 100%;
    display: inline-block;
    margin: 35px 0;
}

.calendar ul {
    margin: 30px 31px;
}

.calendar li {
    display: inline-block;
    width:33px;
    height:33px;
    border-radius:50%;
    font-size:20px;
    color:rgba(155,155,155,1);
    text-align: center;
    line-height: 33px;
    margin: 10px 9px;
}

.day ul {
    margin: 16px 31px;
}

.day li {
    margin: 5px 5px;
}

.day ul:first-of-type li {
    font-size: 16px;
}

.day-wrap li {
    padding: 2px;
}

.btn-chosen {
    background:rgba(246,55,86,1);
    color: rgba(255,255,255,1)!important;
}

.btn-chosed {
    background:rgba(246,55,86,1);
    color: rgba(255,255,255,1)!important;
}

.calendar li:hover {
    cursor: pointer;
}

.list .input-wrap {
    margin-top: 10px!important;
}

#asearchInput {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 715px;
    padding-left: 55px;
    color:#333333;
    font-size: 24px;
    border-radius:35px;
}

#asearchInputBtn {
    display: inline-block;
    height: 63px;
    vertical-align: middle;
    text-align: center;
    width: 146px;
    background:rgba(246,55,86,1);
    border:4px solid rgba(246,55,86,1);
    border-radius:0px 29px 29px 0px;
    font-size:24px;
    color:rgba(255,255,255,1);
    letter-spacing: 10px;
}



@media screen and (max-width: 1900px)  {

    .side-wrap {
        width: calc((100% - 970px) * 0.5);
    }

    .sidenav {
        width: 103px;
    }

    .sidenav li {
        height:35px;
        line-height: 35px;
        font-size:14px;
    }

    #orderBtn {
        width: 25px;
        height: 25px;
        margin: 10px auto 0 auto;
    }

    .list {
        width:656px;
    }

    .articles {
        margin-top: 30px;
    }

    .article-item {
        height:141px;
    }

    .article-item img {
        width:256px;
        height:141px;
    }

    .article-info {
        width: 349px;
        height:95px;
        padding: 22px;
    }

    .article-info h1 {
        font-size:20px;
        padding-left: 35px;
        background-size: 18px 18px;
    }

    .article-info span {
        font-size:15px;
        margin: 7px 25px 7px 0px;
    }

    .article-info p {
        font-size: 15px;
    }

    .article-info button {
        width: 30px;
        height: 30px;
        background-size: 100% 100%;
    }

    .page-change {
        margin: 8px 0 89px 0;
    }

    .page-change span {
        width:41px;
        height:41px;
        line-height: 41px;
        font-size:20px;
        margin-right: 18px;
    }

    .right-aside {
        width: 291px;
    }

    .calendar {
        margin-top: 71px;
    }

    .return-top {
        width: 53px!important;
        height:53px!important;
    }

    .year {
        margin: 25px 0;
    }

    .year button {
        width: 10px;
        height: 18px;
        background-size: 10px 18px;
    }

    .calendar h1 {
        font-size:14px;
        margin-left: 21px;
    }

    .year h1 {
        font-size:20px;
        margin: 0;
    }

    .month {
        margin: 25px 0;
    }

    .calendar ul {
        margin: 30px 21px;
    }

    .calendar li {
        width:23px;
        height:23px;
        font-size:14px;
        margin: 5px 7px;
        line-height: 23px;
    }

    .day ul {
        margin: 18px 21px;
    }

    .day li {
        margin: 2px 4px;
    }

    .day ul:first-of-type li {
        font-size: 12px;
    }

    .list .input-wrap {
        margin-top: 10px!important;
    }

    #asearchInput {
        width: 500px;
        padding-left: 35px;
        font-size: 18px;
    }

    #asearchInputBtn {
        height: 46px;
        width: 103px;
        font-size: 18px;
        letter-spacing: 8px;
    }
}
